<h1>Hello edit competition page</h1>

<%= form_with model: @competition do |field| %>
  <%= field.collection_check_boxes :user_ids, User.order(:eamil), :id, :email, include_hidden: false %>
  <%= field.submit %>
<% end %>
