
<% if current_user.admin? %>
  <h1>Competitions Index Page</h1>
  <%= link_to "New Competition", new_competition_path  %>
  <% else %>
  <h1>Your Competitions</h1>
<% end %>

<%= render(@competitions) %>
