<h1>hello from competitions index</h1>

<% if current_user.admin? %>
  <%= link_to "New Competition", new_competition_path  %>
<% end %>

<%= render(@competitions) %>



<p> Invite a player link should go on this page </p>
