<h1 class="text-center text-4xl font-bold text-gray-800 mt-4">Competition leader board</h1>
<br>
  <% @players.each do |player| %>
      <% score = 0 %>
      <% player.match_predictions.each do |prediction| %>
          <% if prediction.result != "pending" && prediction.competition_id == @competition.id %>
          <% score += prediction.result.to_i %>
          <% end %>
      <% end %>
      <% @scores["#{player.email}"] = score %>
  <% end %>
  <% @scores = @scores.sort_by{ |key, value| value}.reverse.to_h %>
<table class="table-auto border-collapse">
  <% @scores.each do |key, value|%>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
