<p>hello from competitions show</p>

<p><%= link_to 'Your Competitions Home Page', competitions_path%></p>

<table>
  <% @users.each do |user| %>
    <th colspan="2"><%= user %></th>
  <% end %>
</table>
