<h1>MATCH PREDICTION</h1>

<%= link_to 'DELETE', match_predictions_path, data: { "turbo-method": :delete } %>

<% @match_predictions.each do |match_prediction| %>
  <p><%= match_prediction.match_id %></p>
  <p><%= match_prediction.home_score_guess %></p>
<% end %>
