<h1>MATCH PREDICTION</h1>

<ul>
  <% @match_predictions.each do |prediction| %>
    <li><%= prediction.match.home_team %></li>
    <li><%= prediction.home_score_guess %></li>
    <li><%= prediction.match.away_team %></li>
    <li><%= prediction.away_score_guess %></li>
    <br>
  <% end %>
</ul>
